.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #d8d8d8;
    z-index: 3;
}

.nav-title {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
}

.nav-brand {
    position: relative;
    font-family: "Space Mono";
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-brand {
        display: block;
        margin-left: 5%;
    }
}

.navbar a .brand-img {
    position: relative;
    height: 60px;
    width: auto;
    
}

.nav-item-list {
    position: absolute;
    right: 6%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    margin-right: 8%;
    font-family: "Space Mono";
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

.nav-item a:hover {
    font-weight: 900;
}

.nav-link-list{
    position: absolute;
    display: flex;
    list-style: none;
    left: 50%;
    transform: translate(-50%);
}

.nav-link {
    font-size: 30%;
    color: black;
    margin-left: -5%;
}

.nav-link a {
    text-decoration: none;
}
