.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #d8d8d8;
    z-index: 3;
}

.nav-brand {
    font-family: "Space Mono";
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-brand {
        display: block;
        margin-left: 5%;
    }
}

.brand-img {
    height: 65%;
    width: auto;
    margin-left: 4%;
    margin-right: -3%;
}

.nav-item-list {
    position: absolute;
    right: 8%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    margin-right: 10%;
    font-family: "Space Mono";
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

.nav-item a:hover {
    font-weight: 900;
}

.nav-link-list{
    position: absolute;
    display: flex;
    list-style: none;
    left: 50%;
    transform: translate(-55%);
}

.nav-link {
    font-size: 30%;
    color: black;
    margin-left: -5%;
}

.nav-link a {
    text-decoration: none;
}
